@font-face {
	font-family: "MainFont";
	font-display: block;
	src: url("/fonts/MainFont.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

@font-face {
	font-family: "BMbug";
	font-display: block;
	src: url("/fonts/BMbug.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}

